<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😱</text></svg>">
    <title>Kriker 😱</title>
</head>

<body>
    <header>
        <h1>Kriker - pusti svoj krik! 😱</h1>
        <h3><i>Kriker - let your shriek out!</i></h3>
    </header>
    <div class="main">
        <form class="krik-form">
            <label for="name">Ime:</label>
            <input type="text" id="name" name="name" placeholder="Tvoje ime..." required>
            <label for="">Krik:</label>
            <textarea name="content" id="content" cols="30" rows="10" maxlength="140" placeholder="Pusti svoj krik..."
                required></textarea>
            <button class="btn" type="submit">Pusti krik 😱</button>
        </form>
        <div class="krik-container">
            <!-- krik div is used as boilerplate for template literals -->
            <div class="krik">
                <h3 class="krik-name">TestName</h3>
                <div class="krik-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sapiente consectetur nobis
                        numquam incidunt non fugiat corrupti ratione cum ea.</p>
                    <span class="date">04/01/2023</span>
                </div>
                <!-- end of boilerplate -->

            </div>
        </div>
        <div class="show-all">
            <button class="show-all-btn btn">Prikaži sve ⟲</button>
        </div>
    </div>
    </div>

    <script src="../public/index.js"></script>
</body>

</html>